* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'TT Lakes', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    font-weight: 400;
    background: #F8F8F8;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

ul::-webkit-scrollbar {
 display: none;
 -ms-overflow-style: none;
}
