/* Шрифт */
@font-face {
    font-family: 'TT Lakes';
    src: url(files/TTLakes/TTLakes-Regular.woff) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(files/TTLakes/TTLakes-Bold.woff) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url(files/TTLakes/TTLakes-Medium.woff) format("truetype");
    font-weight: 500;
    font-style: normal;
}

.brands {
  max-width: 1120px;
  margin: 0 auto;
  border-top: 1px solid #D9FFF5;
}

.brands-title {
  width: 100%;
  padding: 16px;
  background: linear-gradient(45deg, #f8f8f8, #ffffff);
  border-top: 1px solid #d9fff5;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: #7e7e82;
}

/* === Список брендов === */
.swiper-brands {
  width: 100%;
  height: 142px;
  overflow: hidden;
  position: relative;
}

.swiper-brands::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 81px;
  left: 0;
  top: 0;
  pointer-events: none;
  background: linear-gradient(to right, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
  background: -webkit-linear-gradient(to right, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
  background: -moz-linear-gradient(to right, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
  z-index: 2;
}

.swiper-brands::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 81px;
  right: 0;
  top: 0;
  pointer-events: none;
  background: linear-gradient(to left, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
  background: -webkit-linear-gradient(to left, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
  background: -moz-linear-gradient(to left, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
  z-index: 2;
}


.swiper {
  width: 100%;
  height: 100%;
}

.brands-list {
  display: flex;
  max-height: 150px;
  padding: 16px ;
  scroll-snap-type: x mandatory;
  transition: max-height 0.6s ease;
}

.brands-list.expanded {
  max-height: 1000px;
}

.brands-list__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.brands-list__item {
  display: flex;
  flex: 0 0 240px;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  background: #ffff;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  padding: 0 16px;
  margin-bottom: 24px;
}

/* === Логотипы (фоновые изображения) === */
.brands-list__logo {
  object-fit: contain;
  object-position: left center;
}

/* Примеры логотипов */
.brands-list__logo--lenovo {
  width: 108px;
  height:  32px; 
}
.brands-list__logo--samsung {
  width: 116px;
  height:  38px;
}
.brands-list__logo--apple {
  width: 44px;
  height:  44px;
}
.brands-list__logo--viewsonic { 
  width: 120px;
  height: 21px;
}
.brands-list__logo--bosch {
  width: 120px;
  height: 28px;
}
.brands-list__logo--hp { 
  width: 52px;
  height: 52px;
}
.brands-list__logo--acer { 
  width: 94px;
  height: 24px; 
}
.brands-list__logo--sony { 
  width: 120px;
  height: 25px;
}

/* === Кнопка "стрелка" внутри карточки === */
.brands-list__button {
  display: block;
  height: 40px;
  width: 40px;
  background: url("files/img/go.svg") no-repeat center;
  cursor: pointer;
  transition: opacity 0.3s ease;
  flex-shrink: 0;
}

.brands-list__button:hover {
  opacity: 0.6;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #DDDDDD;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #B5B6BC;
  opacity: 1;
}

.more-button__hide {
 color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin-left: 39px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 30px;
}

.more-button__hide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 24px;
  height: 24px;
  background: url(files/img/expand.svg) no-repeat center / 24px 24px;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
}

.more-button__hide.rotated::before {
  transform: translateY(-50%) rotate(180deg);
}


/*Адаптив*/

@media (max-width: 767px) {
  .swiper-wrapper {
    height: 96px;
  }

  .more-button {
    display: none;
  }
  }

  @media (min-width: 768px) {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, 240px);
      row-gap: 16px;
      column-gap: 24px;
      padding: 24px 32px;
      transform: none;
    }

    .brands-list__item {
      margin-bottom: 0;
    }

    li:nth-child(4) {
      order: 1;
    }
}

@media (min-width: 1032px) {
  li:nth-child(4) {
      order: 0;
    }
}